.ContainerCarousel {
    position: relative; 
    width: 100%;
    max-width: calc(100% - 80px); 
    margin: 0 auto;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin: 30px;
}


.carousel {
    cursor: grab;
    overflow: hidden; 
    width: 100%;  
}

.inner {
    display: flex;
    width: 100%; 
    gap: 36px;
}

.item img {
    width: 100%;
    pointer-events: none;
}
