.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: hsl(0, 0%, 10%);
}

.card {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-color: #000000;
  transition: 500ms linear;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.card:hover {
  transform: scaleY(1.1);
}

.card .img {
  width: 100%;
  height: 360px;
  background-size: cover;
  background-position: center;
  transition: all 0.5s;
  z-index: 2;
  position: relative;
}

.card .content {
  width: 100%;
  padding: 0 20px;
  height: 0;
  opacity: 0;
  transition: all 0.5s ease-in-out 0.5s;
  box-sizing: border-box;
  overflow: hidden;
  transform: translateY(0);
  background-color: #000000;
  z-index: 1;
}

.card:hover .content.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 20px;
  opacity: 1;
  transform: translateY(0);
  transition: 0.7s linear;
  transition-delay: 0s;
}

.card .content p {
  margin: 0;
}

.card .content .title {
  font-size: 18px;
  font-weight: 600;
  color: white;
  width: max-content;
}

.card .content .desc {
  font-size: 14px;
  font-weight: 100;
  opacity: 0.8;
  margin-top: 8px;
  color: white;
}

.actions {
  display: flex;
}

.card button {
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
  margin-top: 16px;
  margin-bottom: 12px;
  margin-inline: 12px;
  background-color: #d14949;
  color: white;
  border-radius: 6px;
  border: none;
  padding: 6px 10px;
}

.card .arrow {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #000000;
  padding: 1px;
  transform: rotate(0deg);
  transition: all 0.5s;
}

.card:hover .arrow {
  transform: rotate(180deg);
}

.card .arrow span {
  font-size: 18px;
  color: rgb(255, 255, 255);
}

/* .bookCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #000000;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.07), 0 1px 3px 0 hsla(0, 0%, 0%, 0.06);
  width: 100%; 
  max-width: 220px; 
  height: 100%;
}

.bookCardContainer img {
  width: 100%;
  height: 310px;
}

.bookCardContainer h1 {
  font-family: "B612", sans-serif;
  margin-top: 12px;
  padding: 3px;
  font-size: 1rem;
  text-align: center;
  color: white;
}

.bookCardContainer p {
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 8px;
  color: white;
  text-align: center;
}

.bookCardContainer nav {
  display: flex;
  gap: 10px;
}

.bookCardContainer button {
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 16px;
  background-color: #00002f;
  color: white;
  border-radius: 6px;
  border: none;
  padding: 6px 8px;
  cursor: pointer;
} */
